:host {
    display: block;
    height: 100%;
    overflow: auto;
}
.product-badge {
  border-radius: 2px;
  padding: 0.25em 0.5em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;

  &.status-instock {
      background: #C8E6C9;
      color: #256029;
  }

  &.status-outofstock {
      background: #FFCDD2;
      color: #C63737;
  }

  &.status-lowstock {
      background: #FEEDAF;
      color: #8A5340;
  }
}
