<div *ngIf="orderItems.length > 0; else emptyOrder">
  <div class="order-items-container overflow-y-auto max-h-[60vh]">
    <div *ngFor="let item of orderItems" class="flex items-center justify-between p-4 border-b">
      <div class="flex items-center gap-4">
        <img
          src="../../../../assets/images/{{ item.product.image }}"
          alt="{{ item.product.name }}"
          class="product-image block mx-auto rounded w-16 h-16 object-cover"
        />
        <div>
          <h4 class="text-lg font-semibold">{{ item.product.name }}</h4>
          <p class="text-sm text-gray-600">{{ item.product.category }}</p>
          <p class="text-sm text-gray-800">Prix : {{ '$' + item.product.price }}</p>
        </div>
      </div>
      <div class="flex items-center gap-4">
        <button class="p-button-danger" (click)="updateQuantity(item.product, item.quantity - 1)"
          [disabled]="item.quantity <= 1">
          <i class="pi pi-minus"></i>
        </button>
        <span class="text-sm">{{ item.quantity }}</span>
        <button class="p-button-success1" (click)="updateQuantity(item.product, item.quantity + 1)"
          [disabled]="item.quantity >= item.product.quantity" >
          <i class="pi pi-plus"></i>
        </button>
      </div>
    </div>
  </div>
  <!-- Conteneur fixe pour le total et le bouton -->
  <div class="checkout-container">
    <p class="text-lg font-semibold">Total : {{ getTotalPrice() }}</p>
    <button pButton class="p-cancel-button" (click)="cancelOrder()">Annuler la commande</button>
    <button pButton class="p-button-success" (click)="checkout()">Valider le panier</button>
  </div>
</div>
<ng-template #emptyOrder>
  <p class="text-center text-gray-500 mt-4">Votre panier est vide.</p>
</ng-template>
